<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom meta tags -->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="robots" content="noodp,noydir">
    <link rel="icon" href="/static/img/favicon.ico" type="image/png">
    <meta name="application-name" content="Tuple">
    <meta name="copyright" content="Copyright &amp;copy; 2018 CryptoScanner All rights reserved.">
    <meta property="og:title" content="CryptoScanner">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/img/cryptologo.png">
    <meta name="author" content="Cryptoscanner">
    <link rel="icon shortcut" href="/static/img/favicon.ico">
    <!-- Custom meta tags end -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css">

    <!-- Ubuntu Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/overrides.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.typography.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/exchange-currencies.css">

    <title>CryptoScanner</title>
</head>

<body class="d-flex flex-column align-items-center">
    <div class="m-auto text-center">
        <h1 class="display-1">404</h1>
        <h4 class="font-weight-light"> Page Not Found</h4>
        <a class="btn btn-outline-secondary" href="{% url 'website__article' %}">Back to the website</a>
    </div>
</body>

<script src="/static/vendors/jquery/js/jquery-3.2.1.min.js"></script>
<script src="/static/vendors/popper.js/js/popper.min.js"></script>
<script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>

</html>