
{% load imagefit %}
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">


<meta name="google-site-verification" content="cmMeSgAk6SS5-R9Sx1XpKYUx3sm5BoJ1y4H-SeIJn-s" />
<meta name="robots" content="noodp,noydir">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="application-name" content="CryptoScanner">
<meta name="copyright" content="Copyright &amp;copy; 2018 CryptoScanner All rights reserved.">
<meta name="author" content="CryptoScanner">
<meta name="keywords" content="Cryptocurrency, Binance, coinbase, coinmarketcap, cheap cryptocurrency rates, cheap bitcoin, cheap ethereum, bitcoin, ethereum, trx, bitcoin price, bittrex, cryptocurrency news">
<meta name="description" content="{{current_category}}">

<link rel="icon" href="{{ '/static/img/favicon.ico'|resize:'32x32' }}" type="image/png">
<link rel="shortcut icon" href="{{ '/static/img/favicon.ico'|resize:'32x32' }}">


<meta property="fb:app_id" content="179259906198627" />
<meta property="og:type" content="website">
<meta property="og:description"  content="{{current_category}}">
<meta property="og:locale" content="en_US">
<meta property="og:title"  content="{{current_category}}">
<meta property="og:url" content="https://cryptoscanner.co/{{current_category.split|join:'-'|lower}}">
<meta property="og:site_name" content="CryptoScanner">
<meta property="og:image" style="background: rgb(31, 96, 164);" content="https://cryptoscanner.co/static/logos/cryptoscanner.png">
<meta property="og:image:secure_url" content="https://cryptoscanner.co/{{current_category.split|join:'-'|lower}}">
<meta property="og:image:alt"  content="{{current_category}}">
<meta property="og:image:width" content="645">
<meta property="og:image:height" content="430">

<title>{{current_category}}</title>

<link rel="canonical" href="https://cryptoscanner.co/{{current_category.split|join:'-'|lower}}"/>

<meta name="twitter:image" style="background: rgb(31, 96, 164);" content="https://cryptoscanner.co/static/logos/cryptoscanner.png">
<meta name="twitter:url" content="https://cryptoscanner.co/{{current_category.split|join:'-'|lower}}">
<meta name="twitter:title" content="{{current_category}}">
<meta name="twitter:description" content="{{current_category}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Cryptoscannerco">
<meta name="twitter:creator" content="@Cryptoscannerco">


<link rel="icon" href="https://cryptoscanner.co/static/logos/cryptoscanner-icon.png" sizes="32x32">
<link rel="icon" href="https://cryptoscanner.co/static/logos/cryptoscanner-icon.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="https://cryptoscanner.co/static/logos/cryptoscanner-icon.png">
<meta name="msapplication-TileImage" content="https://cryptoscanner.co/static/logos/cryptoscanner-icon.png">


<link rel="shortcut icon" href="{{ '/static/img/favicon.ico'|resize:'32x32' }}" type="image/png">
<link rel="apple-touch-icon" sizes="57x57" href="{{ '/static/favicon/apple-icon-57x57.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/static/favicon/apple-icon-60x60.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/static/favicon/apple-icon-72x72.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/static/favicon/apple-icon-76x76.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/static/favicon/apple-icon-114x114.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/static/favicon/apple-icon-120x120.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/static/favicon/apple-icon-144x144.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/static/favicon/apple-icon-152x152.png'|resize:'32x32' }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/favicon/apple-icon-180x180.png'|resize:'32x32' }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ '/static/favicon/android-icon-192x192.png'|resize:'32x32' }}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/static/favicon/favicon-96x96.png'|resize:'32x32' }}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#f8f9fa">
<meta name="msapplication-TileImage" content="{{ '/favicon/ms-icon-144x144.png'|resize:'32x32' }}">
<meta name="theme-color" content="#f8f9fa">